@use "variables";

body {
  margin: 0;
  background: var(--gray-950);
  color: var(--base);
  font-family: system-ui, -apple-system, sans-serif;
  margin: 32px;
}

h1 {
    margin-top: 0;
}

.chart {
  height: 200px;
  border-radius: 16px;
  background-color: var(--gray-700);
  padding: 12px;
  width: calc(50% - 40px);

  display: flex;
  align-items: center;
  justify-content: center;
  
  @media screen and (max-width: 768px) {
    width: calc(100% - 20px);
  }

  canvas {
    max-width:100%;
    min-height: 100%;
  }
}

.chart-container {
    gap: 32px;
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}